.privecy-policy-content{
    margin-top: 20px !important;
    
}
.privecy-policy-heading{
    margin-bottom: 30px !important;
}
.privecy-policy-content p{
    font-size: 17px !important;
}
.privecy-policy-data-p{
    margin-top: 8px !important;
}
.privecy-policy-section{
   font-size: 18px !important;
}